
#details{
    .details_cengji{
        padding: 10px 0;
        color: #333;
        i{
            font-size: 17px;
        }
        a{
            padding: 4px 0;
        }
    }
    .details_box{
        padding: 10px;
        margin-bottom: 30px;
        .details_imgbox{
            width: 460px;
            float: left;
            .img_big{
                width: 460px;
                height: 460px;
                border: 1px solid #ddd;
                overflow: hidden;
                img{
                    width: 458px;
                    height: 458px;
                }
            }
            .img_small{
                margin-top: 10px;
                ul{
                    height: 60px;
                    overflow: hidden;
                    position: relative;
                    li{
                        float: left;
                        width: 60px;
                        height: 60px;
                        margin-right: 10px;
                        border: 2px solid #fff;
                        position: relative;
                        left:30%;
                        &.img_active{
                            border: 2px solid #ed4242;
                        }
                        img{
                            width: 56px;
                            height: 56px;
                        }
                        // &:hover{
                        //     border: 2px solid #ed4242;
                        // }
                    }
                }
            }
        }
        .details_xq_box{
            width: 660px;
            float: right;
            .details_title_box{
                margin-bottom: 10px;
                span{
                    display: inline-block;
                    margin: 5px 0;
                    padding: 2px 10px;
                    border-radius:3px;
                    background: #ed4242;
                    color: #fff;
                }
                h2.details_title{
                    font-size: 20px;
                    color: #333;
                    font-weight: bold;
                    line-height: 30px;
                    // overflow: hidden;
                }
            }
            p{
                // display: inline-block;
                // height: 28px;
                line-height: 28px;
                font-size: 14px;
                margin-bottom: 10px;
                // line-height: 2px;
                .sp_bianma{
                    span{
                        display: inline-block;
                        &.details_bm{
                        margin-left: 10px;
                        }
                    }
                    
                }
            }
            
        }
    }
}