#box{
    width: 200px;
    height: 600px;
    div{
        background: #000;
        &.left{
            width: 20px;
            height: 30px;
        }
    }
    .right{
        background: #ddd;
    }
}