#details .details_top .details_cengji {
  padding: 10px 0;
  color: #333;
}

#details .details_top .details_cengji i {
  font-size: 17px;
}

#details .details_top .details_cengji a {
  padding: 4px 0;
}

#details .details_top .details_box {
  padding: 10px;
  margin-bottom: 30px;
}

#details .details_top .details_box .details_imgbox {
  width: 460px;
  float: left;
}

#details .details_top .details_box .details_imgbox .img_big {
  width: 460px;
  height: 460px;
  border: 1px solid #ddd;
  overflow: hidden;
}

#details .details_top .details_box .details_imgbox .img_big img {
  width: 458px;
  height: 458px;
}

#details .details_top .details_box .details_imgbox .img_small {
  margin-top: 10px;
}

#details .details_top .details_box .details_imgbox .img_small ul {
  height: 60px;
  overflow: hidden;
  position: relative;
}

#details .details_top .details_box .details_imgbox .img_small ul li {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border: 2px solid #fff;
  position: relative;
  left: 30%;
}

#details .details_top .details_box .details_imgbox .img_small ul li.img_active {
  border: 2px solid #ed4242;
}

#details .details_top .details_box .details_imgbox .img_small ul li img {
  width: 56px;
  height: 56px;
}

#details .details_top .details_box .details_xq_box {
  width: 660px;
  float: right;
}

#details .details_top .details_box .details_xq_box .details_title_box {
  margin-bottom: 8px;
}

#details .details_top .details_box .details_xq_box .details_title_box span {
  display: inline-block;
  margin: 5px 0;
  padding: 2px 10px;
  border-radius: 3px;
  background: #ed4242;
  color: #fff;
}

#details .details_top .details_box .details_xq_box .details_title_box h2.details_title {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  line-height: 30px;
}

#details .details_top .details_box .details_xq_box p {
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 10px;
}

#details .details_top .details_box .details_xq_box p.sp_bianma span {
  display: inline-block;
}

#details .details_top .details_box .details_xq_box p.sp_bianma span.details_bm {
  margin-left: 10px;
}

#details .details_top .details_box .details_xq_box p.sp_bianma span.details_cd {
  padding-left: 40px;
  color: #999;
}

#details .details_top .details_box .details_xq_box p.details_jiage {
  margin-bottom: 26px;
  color: #888;
  font-size: 13px;
}

#details .details_top .details_box .details_xq_box p.details_jiage .details_price {
  font-size: 24px;
  color: #ed4242;
  font-weight: bold;
  padding: 0 8px 0 41px;
}

#details .details_top .details_box .details_xq_box p.details_fhd .details_place {
  margin-left: 10px;
}

#details .details_top .details_box .details_xq_box .details_sl_box {
  margin-bottom: 26px;
}

#details .details_top .details_box .details_xq_box .details_sl_box > span {
  display: inline-block;
  width: 60px;
  float: left;
  color: #888;
  margin-top: 10px;
}

#details .details_top .details_box .details_xq_box .details_sl_box .details_qty_box {
  float: left;
  width: 70px;
}

#details .details_top .details_box .details_xq_box .details_sl_box .details_qty_box .details_qty {
  width: 45px;
  height: 31px;
  line-height: 26px;
  padding: 3px 2px 0 10px;
  color: #666;
  font-size: 12px;
  border: 1px solid #a7a6ac;
}

#details .details_top .details_box .details_xq_box .details_sl_box .details_qty_box .details_qty_byn {
  display: inline-block;
  vertical-align: middle;
}

#details .details_top .details_box .details_xq_box .details_sl_box .details_qty_box .details_qty_byn .details_qty_more, #details .details_top .details_box .details_xq_box .details_sl_box .details_qty_box .details_qty_byn .details_qty_less {
  display: block;
  width: 18px;
  height: 14px;
  overflow: hidden;
  border: 1px solid #a7a6ab;
  cursor: pointer;
  color: #a7a6ab;
  text-align: center;
  font-size: 14px;
  line-height: 12px;
}

#details .details_top .details_box .details_xq_box .details_sl_box .details_qty_box .details_qty_byn .details_qty_more {
  margin-bottom: 3px;
}

#details .details_top .details_box .details_xq_box .details_sl_box .details_kc {
  display: inline-block;
  margin-left: 30px;
  color: #999;
  font-size: 13px;
}

#details .details_top .details_box .details_xq_box .details_buy {
  margin-left: 60px;
}

#details .details_top .details_box .details_xq_box .details_buy .details_btn {
  width: 180px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

#details .details_top .details_box .details_xq_box .details_buy .details_btn i {
  font-size: 22px;
  position: absolute;
  top: -2px;
  left: 18px;
}

#details .details_top .details_box .details_xq_box .details_buy .buy_now {
  background: #ffebeb;
  border: 1px solid #ed4242;
  color: #f60;
}

#details .details_top .details_box .details_xq_box .details_buy .addToCar {
  background: #ed4242;
  color: #fff;
}

#details .details_top .details_box .details_xq_box .details_buy .guanzhu {
  font-size: 14px;
  margin-right: 0px;
  background: #fff;
  color: #333;
}

#details .details_top .details_box .details_xq_box .details_buy .guanzhu i {
  font-size: 27px;
  opacity: .7;
}

#details .details_top .details_box .details_xq_box .details_buy .guanzhu:hover {
  color: #ed4242;
}

#details .details_bottom .js_title {
  height: 50px;
  border-bottom: 2px solid #e65050;
}

#details .details_bottom .js_title ul {
  margin-left: 380px;
}

#details .details_bottom .js_title ul li {
  float: left;
  width: 170px;
  line-height: 50px;
  color: #424242;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

#details .details_bottom .js_title ul li.details_active {
  color: #e65050;
}

#details .details_bottom .sp_jieshao {
  margin-top: 4px;
}

#details .details_bottom .sp_jieshao .details_nav {
  width: 190px;
  float: left;
  margin-right: 10px;
  text-align: center;
}

#details .details_bottom .sp_jieshao .details_nav h3 {
  height: 43px;
  color: #333;
  margin: 0 10px 2px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  line-height: 43px;
  font-weight: bold;
}

#details .details_bottom .sp_jieshao .details_nav ul li {
  margin: 0 10px 6px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
}

#details .details_bottom .sp_jieshao .details_nav ul li a {
  display: block;
  line-height: 28px;
  font-size: 12px;
}

#details .details_bottom .sp_jieshao .details_nav ul li :first-child {
  font-weight: bold;
  font-size: 14px;
  line-height: 33px;
}

#details .details_bottom .sp_jieshao .details_img {
  float: left;
  width: 800px;
  padding-top: 10px;
  overflow: hidden;
}

#details .details_bottom .sp_jieshao .details_img img {
  width: 800px;
}

#details .details_bottom .sp_jieshao .details_img p {
  height: 31px;
  padding: 15px 0;
  margin: 0 10px 10px;
  border-bottom: 1px dotted #eee;
}

#details .details_bottom .sp_jieshao .details_tuijian {
  width: 190px;
  float: right;
  text-align: center;
}

#details .details_bottom .sp_jieshao .details_tuijian h3 {
  height: 43px;
  color: #333;
  margin: 0 10px 2px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  line-height: 43px;
  font-weight: bold;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li {
  overflow: hidden;
  text-align: center;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li > a {
  display: block;
  width: 190px;
  height: 234px;
  vertical-align: middle;
  text-align: center;
  padding: 22px 0;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li > a img {
  width: 190px;
  height: 190px;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li .details_xiangqi {
  height: 61px;
  padding: 10px 0;
  margin: 0 10px;
  text-align: left;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li .details_xiangqi .details_jieshao {
  width: 75%;
  float: left;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li .details_xiangqi .details_jieshao p {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li .details_xiangqi .details_jieshao p.details_tj_price {
  color: #ee4242;
  padding-top: 3px;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li .details_xiangqi .details_guojia {
  width: 22%;
  margin-right: 2px;
  text-align: right;
  font-size: 12px;
  float: right;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li .details_xiangqi .details_guojia i {
  display: block;
  width: 18px;
  height: 12px;
  background: url("../img/ico-country.png") no-repeat 0 -11px;
  margin-top: 2px;
  margin-left: 24px;
  border: 1px solid #ccc;
}

#details .details_bottom .sp_jieshao .details_tuijian ul li .details_xiangqi .details_guojia p {
  width: 42px;
  height: 20px;
  color: #bbb;
  margin-top: 8px;
}

#details #to_top {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 82%;
  right: 0.1%;
  background: rgba(7, 7, 7, 0.5);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

#details #to_top i {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  margin-top: 7px;
}

#details #to_top:hover {
  background: rgba(255, 0, 0, 0.8);
}

#details .zxkefu {
  width: 140px;
  height: 38px;
  position: fixed;
  top: 36%;
  right: 0.2%;
  cursor: pointer;
}

#details .zxkefu i {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: 48px;
  color: #1DA285;
  position: absolute;
  border-radius: 52px;
  top: -4px;
  left: 32px;
  background: rgba(255, 255, 255, 0.9);
}

#details .zxkefu span {
  display: inline-block;
  float: right;
  width: 80px;
  height: 38px;
  line-height: 34px;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  border: 2px solid #FFBC0C;
  border-radius: 8px;
}

#details .zxkefu:hover span {
  background: #FFBC0C;
}
