#list .list_cengji {
  padding: 10px 0;
  color: #333;
}

#list .list_cengji i {
  font-size: 17px;
}

#list .list_cengji a {
  padding: 4px 0;
}

#list .goods_box .jieguo {
  padding-bottom: 6px;
  border-bottom: 1px solid #222;
  color: #999;
}

#list .goods_box .jieguo b {
  padding: 0 5px;
  color: #666;
}

#list .goods_box .jiage {
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  color: #333;
}

#list .goods_box .jiage span {
  display: inline-block;
  width: 60px;
  float: left;
  font-weight: 600;
}

#list .goods_box .jiage a {
  padding: 3px 5px;
  margin: 0 5px;
  color: #777;
}

#list .goods_box .jiage a.active, #list .goods_box .jiage a:hover {
  color: #ee4242;
  border: 1px solid #ee4242;
  padding: 3px 4px;
}

#list .goods_box .paixu {
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  color: #333;
}

#list .goods_box .paixu span {
  display: inline-block;
  width: 60px;
  float: left;
  font-weight: 600;
}

#list .goods_box .paixu a {
  padding: 3px 5px;
  margin: 0 5px;
  color: #777;
}

#list .goods_box .paixu a i {
  font-size: 12px;
  margin-left: 6px;
  font-weight: bold;
}

#list .goods_box .paixu a.active, #list .goods_box .paixu a:hover {
  color: #ee4242;
  border: 1px solid #ee4242;
  padding: 3px 4px;
}

#list .goods_box .goods_ul {
  margin: 40px 0 20px;
  min-height: 310px;
}

#list .goods_box .goods_ul li {
  width: 233px;
  height: 300px;
  float: left;
  overflow: hidden;
  margin: 0 7px 10px 0;
  text-align: center;
  border: 1px solid #eee;
}

#list .goods_box .goods_ul li > a {
  display: block;
  width: 233px;
  height: 236px;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

#list .goods_box .goods_ul li > a img {
  width: 233px;
  height: 236px;
}

#list .goods_box .goods_ul li > a .guoche_icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #333157;
}

#list .goods_box .goods_ul li > a .guoche_icon i {
  display: block;
  font-size: 20px;
  color: #fff;
  margin-top: 6px;
}

#list .goods_box .goods_ul li .goods_xiangqi {
  height: 61px;
  padding: 10px 0;
  margin: 0 10px;
  text-align: left;
  font-size: 14px;
}

#list .goods_box .goods_ul li .goods_xiangqi .good_jieshao {
  width: 75%;
  float: left;
}

#list .goods_box .goods_ul li .goods_xiangqi .good_jieshao p {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list .goods_box .goods_ul li .goods_xiangqi .good_jieshao p.goods_price {
  color: #ee4242;
  padding-top: 3px;
}

#list .goods_box .goods_ul li .goods_xiangqi .goods_guojia {
  width: 22%;
  margin-right: 2px;
  text-align: right;
  font-size: 12px;
  float: right;
}

#list .goods_box .goods_ul li .goods_xiangqi .goods_guojia i {
  display: block;
  width: 18px;
  height: 12px;
  background: url("../img/ico-country.png") no-repeat 0 -11px;
  margin-top: 2px;
  margin-left: 30px;
  border: 1px solid #ccc;
}

#list .goods_box .goods_ul li .goods_xiangqi .goods_guojia p {
  height: 20px;
  color: #bbb;
  margin-top: 8px;
}

#list .goods_box .goods_fenye {
  border-top: 1px solid #ddd;
  color: #fff;
  text-align: center;
  cursor: default;
}

#list .goods_box .goods_fenye ul {
  margin: 20px 0 0;
}

#list .goods_box .goods_fenye ul li {
  width: auto;
  float: none;
  display: inline-block;
  margin: 0 5px 10px 0;
  text-align: center;
}

#list .goods_box .goods_fenye ul li a {
  padding: 3px 10px;
  border: 1px solid #ddd;
  color: #222;
}

#list .goods_box .goods_fenye ul li a.fenye_active, #list .goods_box .goods_fenye ul li a:hover {
  background: #ee4242;
  border: 1px solid #ee4242;
  color: #fff;
}

#list #to_top {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 82%;
  right: 0.1%;
  background: rgba(7, 7, 7, 0.5);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

#list #to_top i {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  margin-top: 7px;
}

#list #to_top:hover {
  background: rgba(255, 0, 0, 0.8);
}
